@{
    ViewData["Title"] = "Home Page";
}


<div class="page-header">
    <h1>Welcome to TeamPage <small></small></h1>
</div>

<p class="lead">
    TeamPage lets Agencies and Clients stay on the same page by providing a single place to track the status of projects.
</p>

<h3>Teampage helps you track things like:</h3>
<ul>
    <li>Timelines</li>
    <li>Deliverables</li>
    <li>Proposals</li>
    <li>Tasks</li>
    <li>Due Dates</li>
    <li>Files</li>
</ul>

